<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="ximago.onmicrosoft.com" />
    <add key="ida:ClientId" value="7e74abd7-3dc0-42b8-adfb-a5c0b8b4ceb9" />
    <add key="ida:RedirectUri" value="http://axerrio.aol.secure.test" />
    <add key="ximago:ximagoResourceId" value="https://ximago.onmicrosoft.com/WebApp-ximagosecure.azurewebsites.net" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ximago:ximagoBaseAddress" value="https://ximagosecure.azurewebsites.net" />
  </appSettings>
</configuration>