<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ximago.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ximago.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ximago</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ximago</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AOL" Order="1" Enabled="False">
          <Destination Path="Data Source=ximago.database.windows.net;Initial Catalog=ximago;Persist Security Info=True;User ID=xsa;Password=Vexcherk1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ximago.database.windows.net;Initial Catalog=ximago;Integrated Security=False;User ID=xsa;Password=Vexcherk1;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AOL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ximago.database.windows.net;Initial Catalog=ximago;Integrated Security=False;User ID=xsa;Password=Vexcherk1;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=ximago;AccountKey=YwLXHjKSO0ehz1e4AwA5lNsYKcqo3UVyMwn2Tg9E9pjSR39Zm79ZbTjI6fMkvh1zXooUVtfEupKO2sMZzJwBug==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=ximago;AccountKey=YwLXHjKSO0ehz1e4AwA5lNsYKcqo3UVyMwn2Tg9E9pjSR39Zm79ZbTjI6fMkvh1zXooUVtfEupKO2sMZzJwBug==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AOL-Web.config Connection String">
      <ParameterValue>Data Source=ximago.database.windows.net;Initial Catalog=ximago;Persist Security Info=True;User ID=xsa;Password=Vexcherk1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>